<form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
        <ion-radio-group value="male">
            <ion-label class="ion-padding label-text" color="dark"
                >Gender</ion-label
            >
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-label class="label-text">Male</ion-label>
                        <ion-radio
                            slot="start"
                            value="male"
                            mode="md"
                            color="dark"
                        ></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-label class="label-text">Female</ion-label>
                        <ion-radio
                            slot="start"
                            value="female"
                            mode="md"
                            color="dark"
                        ></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-radio-group>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked" color="dark">First name</ion-label>
            <ion-input
                type="text"
                formControlName="firstName"
                placeholder="First name (as shown in passport/ID)"
                class="border-bottom"
            ></ion-input>
        </ion-item>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked" color="dark">Last name</ion-label>
            <ion-input
                type="text"
                formControlName="lastName"
                placeholder="Last name (as shown in passport/ID)"
                class="border-bottom"
            ></ion-input>
        </ion-item>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked" color="dark">Date of birth</ion-label>
            <ion-row class="ion-justify-content-start">
                <ion-col size="4">
                    <ion-input
                        type="number"
                        formControlName="dob"
                        placeholder="Day"
                        class="border-bottom"
                        min="1"
                        max="31"
                    ></ion-input>
                </ion-col>
                <ion-col size="4">
                    <ion-input
                        type="number"
                        formControlName="mob"
                        placeholder="Month"
                        class="border-bottom"
                        min="1"
                        max="12"
                    ></ion-input>
                </ion-col>
                <ion-col size="4">
                    <ion-input
                        type="number"
                        formControlName="yob"
                        placeholder="year"
                        class="border-bottom"
                        min="1900"
                        [max]="currentYear"
                    ></ion-input>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="stacked" color="dark">Nationality</ion-label>
            <ion-input
                type="text"
                formControlName="nationality"
                placeholder="Nationality"
                class="border-bottom"
            ></ion-input>
        </ion-item>
    </div>

    <ion-button
        type="submit"
        expand="full"
        color="dark"
        size="large"
        class="mb-25"
    >
        Continue
    </ion-button>
</form>
