<form [formGroup]="personalDetailsForm" (ngSubmit)="onSubmit()">
    <div class="inputs-container">
        <ion-radio-group value="male">
            <ion-label class="ion-padding label-text">Gender</ion-label>
            <ion-row>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-label class="label-text">Male</ion-label>
                        <ion-radio
                            slot="start"
                            value="male"
                            mode="md"
                        ></ion-radio>
                    </ion-item>
                </ion-col>
                <ion-col size="6">
                    <ion-item lines="none">
                        <ion-label class="label-text">Female</ion-label>
                        <ion-radio
                            slot="start"
                            value="female"
                            mode="md"
                        ></ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-radio-group>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked">First name</ion-label>
            <ion-input
                type="text"
                formControlName="firstName"
                placeholder="First name (as shown in passport/ID)"
                class="border-bottom"
            ></ion-input>
        </ion-item>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked">Last name</ion-label>
            <ion-input
                type="text"
                formControlName="lastName"
                placeholder="Last name (as shown in passport/ID)"
                class="border-bottom"
            ></ion-input>
        </ion-item>

        <ion-item lines="none" class="mb-25">
            <ion-label position="stacked">Date of birth</ion-label>
            <ion-row class="ion-justify-content-start">
                <ion-col size="3">
                    <ion-input
                        type="text"
                        formControlName="dob"
                        placeholder="Day"
                        class="border-bottom"
                    ></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-input
                        type="text"
                        formControlName="mob"
                        placeholder="Month"
                        class="border-bottom"
                    ></ion-input>
                </ion-col>
                <ion-col size="3">
                    <ion-input
                        type="text"
                        formControlName="yob"
                        placeholder="year"
                        class="border-bottom"
                    ></ion-input>
                </ion-col>
            </ion-row>
        </ion-item>

        <ion-item lines="none">
            <ion-label position="stacked">Nationality</ion-label>
            <ion-input
                type="text"
                formControlName="nationality"
                placeholder="Nationality"
                class="border-bottom"
            ></ion-input>
        </ion-item>
    </div>

    <ion-button expand="full" color="dark" size="large" class="mb-25">
        Continue
    </ion-button>

    <ion-item lines="none">
        <ion-icon
            name="shield-checkmark"
            color="success"
            slot="start"
        ></ion-icon>
        <ion-label>
            Inyova guarantees highest investment standards.<br />
            <a>Learn more.</a>
        </ion-label>
    </ion-item>
</form>
