.inputs-container {
    --ion-background-color: #ffffff;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.label-text {
    font-size: small;
}

.border-bottom {
    border-bottom: 1px solid #d7d8da;
}

.mb-25 {
    margin-bottom: 25px;
}
