.inyova-background {
    --ion-background-color: #f8f6f2;
}

.logo-inyova {
    height: 50px;
    padding: 5px;
    margin-left: 15px;
}

ion-toast.custom-toast {
    --background: #ee3c16;
    --color: #fff;
}

.btn-inyova {
    --background: #ee3c16 !important;
    --color: #fff;
}
